<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asahary.foodnet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cook_net_icon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cook_net_icon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.asahary.cooknet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Actividades.SplashActivity"
            android:theme="@style/fullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Actividades.LogInActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Actividades.RegisterActivity"
            android:label="Registro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Actividades.LogInActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principal.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".Principal.RecetaActivity" />
        <activity
            android:name=".Principal.Busqueda.BusquedaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal.MainActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Principal.EditarRecetaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal.RecetaActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Principal.Agregar.AgregarRecetaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Principal.MainActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".Principal.Usuario.UsuarioActivity" />
        <activity android:name=".Principal.EditarUsuarioActivity"></activity>
    </application>

</manifest>